* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Style the header */
.header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  /*height: 350px;
  background-image:url("Balloon1.jpg");
  background-size: cover;*/
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Create two columns/boxes that floats next to each other */
/*.nav {
  float: left;
  width: 30%;
  height: 500px; 
  background: #ccc;
  padding: 20px;
}*/

/* Style the list inside the menu */
.nav ul {
  list-style-type: none;
  padding: 0;


}

.article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 500px;/* only for demonstration, should be removed */
}

/* Clear floats after the columns */
.section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #343a40;
  padding: 10px;
  text-align: center;
  color: white;
  clear: both;
  
  margin-bottom:0;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .nav, .article {
    width: 100%;
    height: auto;
  }
  .topnav a {
    float: none;
    width: 100%;
  }
}